<style>
    /* Title main */
    h2 {
        text-align: center;
        color: #007bff;
        font-size: 36px;
        margin-top: 50px;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }

    /* Score */
    h3 {
        text-align: center;
        color: #28a745; /* أخضر للنجاح */
        font-size: 28px;
        margin-top: 20px;
        font-weight: bold;
    }
</style>

<h2>Exam Result</h2>
<h3>Your Score = @ViewBag.Grade %</h3>
